@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    padding: 0;
   background-color: #75D3FA

}

img {
   display: block
}


@media only screen and (min-width: 1200px) {

    .sidenav, .hamburger {
		display: none;
}
	.container, .menu, .randomizer, .extra, .footer, .explainer, .speRes, .found  {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    background-color: #5A95AD;
    height: 200px;
    background-image: url(images/map1.png);    
}

.container img {
    width: 20%;
    height: auto;
    position: relative;
    display: none;
}
.container h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #6237AD;
    position: absolute;
    left: 20%;
    top: 2.5%;
    font-size: 322%;
    transform: rotatez(-25deg);
}

.container::before {
    content: "";
    position: absolute;
    top: 21.5%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 26%; /* Set width of the shape */
    height: 50%; /* Set height of the shape */
    background-color: #DBA915;
    ; /* Set background color for the shape */
    border-radius: 10px; /* Optional: Add rounded corners to the shape */
    z-index: 0; /* Place the shape behind the text */
    transform: rotatez(-25deg);
    border-radius: 40px;
}


.container h2 {
    font-family: "acier-bat-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #DBA915;
    position: absolute;
    left: 37%;
    top: 20%;
    font-size: 501%;
}


.menu {
    background-color: #6237AD;
    position: relative;
    height: 90px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 100;
}


.menu li {
    float: left;
    width: 25%;
    list-style-type: none;
    background-color: #6237AD;
    padding-bottom: 7%;
    text-align: center;
    height: 22%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    padding-top: 43px;
    padding-right: 0px;
}


.menu a:link, .menu a:visited {
    color: #FAD669;
    text-align: center;
    font-size: 45px;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    margin-right: 7px;
}

.background {
    background-color: #75D3FA;
    width: 0px;
    height: 93%;
    position: absolute;
    top: 5%;
    transition-property: width;
    transition-duration: 0.4s;
}

.tek:hover .background {
    display: block;
    width: 100%;
    z-index: -1;
}

.menu a:hover, .menu a:active {
    color: #AC6D04;
   
    text-align: center;
    font-size: 45px;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
	z-index: -1;
 	transition-property: width;
 	transition-duration: 1s;
}



.explainer {
    height: 400px;
    background-color: #75D3FA;
}

.explainer h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7A621B;
    font-size: 40px;
    position: relative;
    left: 7%;
    top: 4%;
}

.explainer p {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.randomizer {
    height: 530px;
    background-color: #75D3FA;
    height: 348px; /* Adjust the height as needed */
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-bottom: 60px;
    top: -60%;
}

.extra {
    padding-top: 1px;
    height: 300px;
    background-color: #249F97;
}

.extra h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 7%;
    top: 4%;
    color: #DBA915;
    color: #FAD669;
}

.extra p {
	margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.speRes {
    display: flex;
    height: 200px;
    background-color:#5A95AD;
    justify-content: center;
    align-items: center;
}

.found {
    height: 400px;
    background-color:#75D3FA;
}


.speRes #restaurantCategory {
    font-size: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
}

button {
    font-size: 16px;
    padding: 20px 40px;
    background-color: #DBA915;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

button:hover {
    background-color: #6237AD;
}

.found h3 {
    font-size: 2vw;
    font-family: "acier-bat-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer {
    height: 100px;
    background-color: #955CFA;	
}
.randomizer #result {
    display: -webkit-box;
    font-size: 64px;
    font-family: "acier-bat-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #C42224;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    top: 25%;
}

.randomizer #randomizerButton {
    margin-left: 0%;
    font-size: 40px;
    position: relative;
    top: 6%;
    left: 31%;
    font-family: "acier-bat-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-top: 3px;
}

.rbutton {
    display: block;
    margin: 0 auto;
    position: relative;
	top: 36%;
    left: 4%;
	background-color: #DBA915;
}
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .sidenav, .hamburger {
		display: none;
	}

	.container, .menu, .randomizer, .extra, .footer, .explainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    background-color: #5A95AD;
    height: 200px;
    background-image: url(images/map1.png);  
	width: auto;
}

.container img {
    width: auto;
    height: 130%;
    position: relative;
    display: none;
}
.container h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #987611;
    position: absolute;
    left: 30%;
    top: 2.5%;
    font-size: 322%;
    transform: rotatez(-25deg)
}

.container h2 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #987611;
    position: absolute;
    left: 47%;
    top: 20%;
    font-size: 501%;
}


.menu {
    background-color: #6237AD;
    position: relative;
    height: 90px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 100;
	width: 100%;
    height: auto;
}


.menu li {
    float: left;
    width: 25%;
    list-style-type: none;
    background-color: #6237AD;
    padding-bottom: 7%;
    text-align: center;
    height: 22%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    padding-top: 43px;
    padding-right: 0px;
}


.menu a:link, .menu a:visited {
    color: #FAD669;
    text-align: center;
    font-size: 45px;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    margin-right: 7px;
}

.background {
    background-color: #75D3FA;
    width: 0px;
    height: 93%;
    position: absolute;
    top: 5%;
    transition-property: width;
    transition-duration: 0.4s;
}

.tek:hover .background {
    display: block;
    width: 100%;
    z-index: -1;
}

.menu a:hover, .menu a:active {
    color: #AC6D04;
   
    text-align: center;
    font-size: 45px;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
	z-index: -1;
 	transition-property: width;
 	transition-duration: 1s;
}



.explainer {
    height: 400px;
    background-color: #75D3FA;
	width: 100%;
 
}

.explainer h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7A621B;
    font-size: 40px;
    position: relative;
    left: 7%;
    top: 4%;
}

.explainer p {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.randomizer {
    height: 490px;
    background-color: #75D3FA;
    height: 348px; /* Adjust the height as needed */
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: -60%;
	width: 100%;
    
}

.extra {
    height: 300px;
    background-color: #249F97;
	width: 100%;
}

.extra h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 7%;
    top: 4%;
    color: #DBA915;
    color: #FAD669;
}

.extra p {
	margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.footer {
    height: 200px;
    background-color: #955CFA;	
	width: 100%;
    height: auto;
}
.randomizer #result {
    display: -webkit-box;
    font-size: 2.3vw;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: bold;
    text-align: center;
	color: #C42224;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    top: 25%;
}

.randomizer #randomizerButton {
    margin-left: 0%;
    font-size: 2.2vw;
    position: relative;
    top: 6%;
    left: 31%;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-top: 3px;
}

.rbutton {
    display: block;
    margin: 0 auto;
    position: relative;
	top: 36%;
    left: 4%;
	background-color: #DBA915;
}
}

@media only screen and (max-width: 600px) {

    .hamburger {
		font-size: 45px;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 100;
	}
	
	.hambuger:hover {
  		color:#FFBD00;    		
	}
	
	/* The side navigation menu */
    .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 150; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container, .menu, .randomizer, .extra, .footer, .explainer, .speRes, .found {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

.container {
    background-color: #5A95AD;
    height: 200px;
    background-image: url(images/map1.png);  
	width: auto;
}

.container img {
    width: auto;
    height: 100%;
    position: relative;
    display: none;
}
.container h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #987611;
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 4.5vh;
    transform: rotatez(-25deg)
}

.container h2 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #987611;
    position: absolute;
    left: 30%;
    top: 45%;
    font-size: 4.5vh;
}


.menu {
    display: none;
    background-color: #6237AD;
    position: relative;
    height: 90px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 100;
	width: 100%;
    height: auto;
}


.menu li {
    display: none;
    float: left;
    width: 25%;
    list-style-type: none;
    background-color: #6237AD;
    padding-bottom: 7%;
    text-align: center;
    height: 22%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    padding-top: 43px;
    padding-right: 0px;
}


.menu a:link, .menu a:visited {
    color: #FAD669;
    text-align: center;
    font-size: 2vh;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    margin-right: 7px;
}

.background {
    background-color: #75D3FA;
    width: 0px;
    height: 93%;
    position: absolute;
    top: 5%;
    transition-property: width;
    transition-duration: 0.4s;
}

.tek:hover .background {
    display: block;
    width: 100%;
    z-index: -1;
}

.menu a:hover, .menu a:active {
    color: #AC6D04;
   
    text-align: center;
    font-size: 2vh;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
	z-index: -1;
 	transition-property: width;
 	transition-duration: 1s;
}



.explainer {
    height: 400px;
    background-color: #75D3FA;
	width: 100%;
 
}

.explainer h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7A621B;
    font-size: 40px;
    position: relative;
    left: 7%;
    top: 4%;
}

.explainer p {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.randomizer {
    height: 550px;
    background-color: #75D3FA;
    height: 348px; /* Adjust the height as needed */
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 2%;
    padding-right: 2%
}

.extra {
    height: 300px;
    background-color: #249F97;
	width: 100%;
}

.extra h1 {
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 7%;
    top: 4%;
    color: #DBA915;
    color: #FAD669;
}

.extra p {
	margin-top: 30px;
    margin-right: 30px;
    margin-left: 88px;
    font-size: 1.5vw;
    border-top: 3px solid #DBA915;
    border-right: 3px solid #DBA915;
    border-bottom: 3px solid #DBA915;
    padding: 10px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
/* New Version */
.footer {
    height: 200px;
    background-color: #955CFA;	
	width: 100%;
    height: auto;
}
.randomizer #result {
    display: -webkit-box;
    font-size: 1.5rem;
    line-height: 1.5; /* Unitless line height */
    font-family: "acier-bat-noir", sans-serif;
    font-weight: bold;
    text-align: center;
	color: #C42224;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    resize: both;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    top: 25%;
    overflow-wrap: break-word;
}
/* New Version */
.speRes {
    display: flex;
    height: 200px;
    background-color:#5A95AD;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    width: auto;
}
/* New Version */
.found {
    height: 373px;
    background-color:#75D3FA;
    padding-right: 3%;
    padding-left: 3%;
    width: auto;
}

.found h3 {
    font-size: 6vw;
    font-family:Arial, Helvetica, sans-serif;
    
}

/* New Version */
.speRes #restaurantCategory {
    font-size: 2wv;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    overflow-wrap: break-word;
}

.randomizer #randomizerButton {
    margin-left: 0%;
    font-size: 3vw;
    position: relative;
    top: 6%;
    left: 31%;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-top: 3px;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}

/* New Version */
button {
    font-size: 2.5vw;
    padding: 4% 8%;
    background-color: #DBA915;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    top: 5%;
    padding-right: 3%;
    padding-left: 3%;
}

.rbutton {
    display: block;
    margin: 0 auto;
    position: relative;
	top: 36%;
    left: 4%;
	background-color: #DBA915;
}

}

